@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");
@import url("https://db.onlinewebfonts.com/c/0fddb08144cea533dcd3d39388b7ffbe?family=GrandSlang+Roman");

.appContainer {
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  /* overflow: hidden; */
}

/* 
 * --------------------
 * Loading Screen
 * --------------------
 */

.loadingScreen {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
 * --------------------
 * Menu
 * --------------------
 */
.headerMenuContainer {
  /* border: 2px solid green; */
  position: relative;
  width: fit-content;
  height: 100%;
  padding: 0 2rem;
  z-index: 1;
}

.headerMenu {
  /* border: 2px solid firebrick; */
  position: relative;
  margin-top: 12vh;
}
.headerMenu::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -50%;
  height: 1px;
  width: 100px;
  background: #000;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) rotate(-90deg);
}
.headerMenuContainer h4 {
  /* border: 2px solid salmon; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 2vh;
  transform: rotate(-90deg);
}
.headerMenu h4:hover {
  cursor: pointer;
  text-decoration: line-through;
}
.logo {
  /* border: 2px solid cadetblue; */
  position: absolute;
  top: 80%;
  left: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 5rem 4rem;
}
.logo::before {
  content: "";
  position: absolute;
  border-width: 25px;
  border-style: double;
  border-radius: 50%;
  border-color: #000;
  width: 100%;
  height: 100%;
  left: -2rem;
  top: -2rem;
  /* animation: rotating 2s linear infinite; */
}
.logo::after {
  content: "";
  position: absolute;
  border-width: 25px;
  border-style: solid;
  border-radius: 50%;
  border-color: #000 #eee7e1;
  width: 100%;
  height: 100%;
  left: -2rem;
  top: -2rem;
  animation: rotating 10s linear infinite;
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

/* 
 * --------------------
 * Info
 * --------------------
 */
.mainContainer {
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 5%;
}
.infoContainer {
  /* border: 2px solid cadetblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
}
.infoContainer h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.infoContainer p {
  font-family: "Montserrat", sans-serif;
  margin-top: 1vh;
  font-size: 13px;
  line-height: 1.9em;
  font-weight: 400;
  letter-spacing: 0.5px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.navigationContainer {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.navigationContainer h1 {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Grandslang roman", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #1a1919;
  font-size: 12vw;
  line-height: 0.95em;
  /* font-weight: 300; */
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.navigationContainer h1:hover {
  transform: translate(5px, 0%);
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
}
.navigationContainer h2 {
  margin-bottom: 3%;
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 2px;
  padding-left: 5%;
  /* padding-top: 2.4rem; */
  text-transform: uppercase;
  line-height: 1.75em;
}

/* About Menu */
.aboutMenu {
  margin-top: 12vh;
  position: fixed;
}
.aboutMenu::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -15vh;
  height: 1px;
  width: 100px;
  background: #000;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) rotate(-90deg);
}

.aboutMenu h4:hover {
  cursor: pointer;
  text-decoration: line-through;
}
.aboutMainContainerDiv {
  display: flex;
}

.aboutMainContainer {
  /* border: 2px solid chocolate; */
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 5%;

  /* display: flex; */
}
.aboutMainContainer h1 {
  font-family: "Grandslang roman", sans-serif;
  font-size: 17vw;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}
.profileImg {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  /* width: 50%; */
  height: fit-content;
  margin-top: 10%;
  max-width: 100%;
  margin-right: 5%;
}
.quote {
  display: block;
  padding-bottom: 2%;
  font-family: "Grandslang roman", sans-serif;
  font-size: 46px;
  line-height: 1.3em;
  font-weight: 300;
  max-width: 60%;
}
.description-long {
  max-width: 60%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.header {
  font-family: "Grandslang roman", sans-serif;
  font-size: 20px;
  line-height: 1.75em;
  font-weight: 500;
  text-align: left;
  letter-spacing: 4px;
  margin-top: 2vh;
  display: block;
  text-transform: uppercase;
}
.button {
  font-family: "Grandslang roman", sans-serif;
  color: #eee7e1;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 60px;
  border-radius: 50px;
  background-color: #1a1919;
  margin-bottom: 10vh;
  transition: padding 0.25s ease-in-out;
}
.button:hover {
  cursor: pointer;
  padding-right: 100px;
  padding-left: 100px;
  text-decoration: none;
}

.contactContainer {
  position: fixed;
  height: 100vh;
  width: 25%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #eee7e1;
}

.contactContainer h1 {
  font-family: "Grandslang roman", sans-serif;
  font-size: 17vw;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}
.contactContainer a {
  border-style: none none solid;
  border-width: 1px;
  border-color: #c69e91 #c69e91 #eee7e1;
  color: #eee7e1;
}
.contactContainer a:hover {
  text-decoration: line-through;
  border-bottom-style: none;
  outline: 0;
}
.imageIcon {
  width: 2rem;
  height: 2rem;
}
.boldText {
  font-weight: 600;
}

@media only screen and (max-width: 479px) {
  .appContainer {
    flex-direction: column;
  }
  .headerMenu::before {
    transform: rotate(0);
    /* right: -50%; */
    bottom: 50%;
    top: 60%;
    left: 100%;
    width: 50px;
  }
  .headerMenuContainer {
    height: auto;
  }
  .headerMenuContainer h4 {
    transform: none;
  }
  .headerMenu {
    display: flex;
    margin-top: 0;
  }
  .logo {
    visibility: hidden;
    display: none;
  }
  .mainContainer {
    flex-wrap: wrap;
    height: 50%;
  }
  .infoContainer {
    width: 90%;

    margin-top: 12%;
  }
  .navigationContainer h1 {
    font-size: 16vw;
    line-height: 1em;
    padding-bottom: 5%;
  }
  .navigationContainer h2 {
    visibility: hidden;
    display: none;
  }
  .aboutMenu {
    margin-top: 0%;
  }
  .aboutMenu::before {
    transform: translateX(50%) rotate(0);
    top: 60%;
    bottom: 50%;
  }
  .contactContainer {
    width: 100%;
  }
  .profileImg {
    position: static;
    width: 50%;
    padding-top: 10%;
  }
  .aboutMainContainer {
    /* padding-top: 15%; */
  }
  .aboutMainContainerDiv {
    flex-direction: column-reverse;
    align-items: center;
  }
  .quote {
    max-width: 98%;
    font-size: 2.4rem;
  }
  .description-long {
    max-width: 99%;
  }
}
